#widget {
  position: relative;
}

.widget-container {
  width: 660px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
}

.footer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 10px;
}

.box {
  width: 80%;
}

.form {
  width: 90%;
}

input {
  width: 90%;
  height: 30px;
}

.actions,
.record {
  width: 5%;
  display: flex;
}

.video img,
.audio img {
  width: 36px;
  margin-right: 5px;
  cursor: pointer;
}

.list {
  overflow: auto;
  height: 90%;
}

.ticket {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 10px;
  width: 90%;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.elem {
  width: 67%;
  font-weight: bold;
}

.date {
  width: 28%;
}

.geo {
  width: 100%;
  margin-top: 15px;
}

.modal {
  position: absolute;
  top: 200px;
  left: 130px;
  margin-right: auto;
  margin-left: auto;
  width: 400px;
  height: 250px;
  border: 1px solid;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  background-color: white;
}

.reset,
.ok {
  margin-top: 15px;
}

.form-error {
  position: absolute;
  padding: 5px 10px;
  width: 150px;
  background: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  z-index: 999;
  border: solid 1px burlywood;
}

.hidden {
  display: none;
}

.stop,
.cancel,
.time {
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
}

video {
  width: 100%;
}

